# Backend server
PORT=4000
JWT_SECRET=replace_me_with_strong_secret

# Fabric network (channel & chaincodes)
FABRIC_CHANNEL=rawmaterialsupply

# Chaincode names (adjust to your deployment)
FABRIC_CHAINCODE_LOTS=apitransfer
FABRIC_CHAINCODE_DISTRIBUTION=distribution

# Supplier org (example paths, adjust to your crypto-config)
ORG_SUPPLIER_PEER_ENDPOINT=localhost:7051
ORG_SUPPLIER_TLS_CERT=../crypto-config/peerOrganizations/supplier.com/peers/peer0.supplier.com/tls/ca.crt
ORG_SUPPLIER_CERT=../crypto-config/peerOrganizations/supplier.com/users/User1@supplier.com/msp/signcerts/cert.pem
ORG_SUPPLIER_KEY=../crypto-config/peerOrganizations/supplier.com/users/User1@supplier.com/msp/keystore/priv_sk

# Manufacturer org
ORG_MANUFACTURER_PEER_ENDPOINT=localhost:8051
ORG_MANUFACTURER_TLS_CERT=../crypto-config/peerOrganizations/manufacturer.com/peers/peer0.manufacturer.com/tls/ca.crt
ORG_MANUFACTURER_CERT=../crypto-config/peerOrganizations/manufacturer.com/users/User1@manufacturer.com/msp/signcerts/cert.pem
ORG_MANUFACTURER_KEY=../crypto-config/peerOrganizations/manufacturer.com/users/User1@manufacturer.com/msp/keystore/priv_sk

# Distributor org
ORG_DISTRIBUTOR_PEER_ENDPOINT=localhost:9051
ORG_DISTRIBUTOR_TLS_CERT=../crypto-config/peerOrganizations/distributor.com/peers/peer0.distributor.com/tls/ca.crt
ORG_DISTRIBUTOR_CERT=../crypto-config/peerOrganizations/distributor.com/users/User1@distributor.com/msp/signcerts/cert.pem
ORG_DISTRIBUTOR_KEY=../crypto-config/peerOrganizations/distributor.com/users/User1@distributor.com/msp/keystore/priv_sk

# Retailer org (optional)
ORG_RETAILER_PEER_ENDPOINT=localhost:10051
ORG_RETAILER_TLS_CERT=../crypto-config/peerOrganizations/retailer.com/peers/peer0.retailer.com/tls/ca.crt
ORG_RETAILER_CERT=../crypto-config/peerOrganizations/retailer.com/users/User1@retailer.com/msp/signcerts/cert.pem
ORG_RETAILER_KEY=../crypto-config/peerOrganizations/retailer.com/users/User1@retailer.com/msp/keystore/priv_sk

# DRAP org
ORG_DRAP_PEER_ENDPOINT=localhost:11051
ORG_DRAP_TLS_CERT=../crypto-config/peerOrganizations/drap.com/peers/peer0.drap.com/tls/ca.crt
ORG_DRAP_CERT=../crypto-config/peerOrganizations/drap.com/users/User1@drap.com/msp/signcerts/cert.pem
ORG_DRAP_KEY=../crypto-config/peerOrganizations/drap.com/users/User1@drap.com/msp/keystore/priv_sk
