PORT=3000
FABRIC_CONNECTION_PROFILE=./connection-org1.json
FABRIC_CHANNEL=rawmaterialsupply
FABRIC_DOMAIN_CHAINCODE=manufacturing
FABRIC_RECALL_CHAINCODE=recall
FABRIC_MSPID=Org1MSP
FABRIC_WALLET_PATH=./wallet
FABRIC_IDENTITY_LABEL=appUser
FABRIC_AS_LOCALHOST=true
